name: Automated tests
permissions: {}
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [
          '3.10',
          '3.11',
          '3.12',
          '3.13',
          '3.14',
          '3.15',
        ]

    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
    - uses: pre-commit/action@v3.0.1
    - name: Install dependencies
      run: |
        uv sync --group ci
    - name: Test pinned deps with unittest
      run: |
        uv run coverage erase
        uv run coverage run -m unittest discover
    - name: Check coverage
      run: |
        uv run coverage report --show-missing --fail-under=95
    - name: Test with dependency matrix
      run: |
        uv run tox
    - name: Test build sdist and wheel packages
      run: |
        uv build
