name: Build package and publish to PyPI
on:
  push:
    tags:
      - 20* # Covers tags until year 2100.

jobs:
  build:
    name: Build wheel and sdist packages
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Build
      run: |
        uv build
    - name: Upload dists
      uses: actions/upload-artifact@v6
      with:
        name: release-dists
        path: dist/

  pypi-publish:
    name: Publish wheel and sdist to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/drpg/
    needs:
      - build
    permissions:
      id-token: write
    steps:
    - name: Retrieve release distributions
      uses: actions/download-artifact@v7
      with:
        name: release-dists
        path: dist/
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  gh-release:
    name: Publish on GitHub
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
    - uses: actions/checkout@v6
    - name: Retrieve release distributions
      uses: actions/download-artifact@v7
      with:
        name: release-dists
        path: dist/
    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Install build dependencies
      run: |
        uv sync --group build
    - name: Build Linux binary
      run: |
        uv run pyinstaller pyinstaller-linux.spec
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        make_latest: true
        draft: false
        files: |
          dist/drpg-${{github.ref_name}}-py3-none-any.whl
          dist/drpg-${{github.ref_name}}.tar.gz
          dist/drpg-linux-x86_64
