name: Publish to PyPI
on: push
jobs:
  build-and-publish:
    name: Build and publish package to PyPI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install pypa/build
      run: |
        python -m pip install --user build
    - name: Build a wheel and a source tarball
      run: |
        python -m build --sdist --wheel --outdir dist/
    - name: Publish
      uses: pypa/gh-action-pypi-publish@v1
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
