name: Build package and publish to PyPI
on:
  push:
    tags:
      - 20* # Covers tags until year 2100.

jobs:
  build:
    name: Build wheel and sdist packages
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install pypa/build
      run: |
        python -m pip install --user build -c requirements.dev.txt
    - name: Build
      run: |
        python -m build --sdist --wheel --outdir dist/
    - name: Upload dists
      uses: actions/upload-artifact@v4
      with:
        name: release-dists
        path: dist/

  pypi-publish:
    name: Build wheel package
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/drpg/
    needs:
      - build
    permissions:
      id-token: write
    steps:
    - name: Retrieve release distributions
      uses: actions/download-artifact@v4
      with:
        name: release-dists
        path: dist/
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
